---
import Layout from '../layouts/Layout.astro';
import Hero from '../sections/Hero.astro';
import Services from '../sections/Services.astro';
import CallToAction from '../sections/CallToAction.astro';
import Description from '../sections/Description.astro';
import Footer from '../components/Footer.astro';
import Navbar from '../components/Navbar.astro';
import Card from '../components/Card.astro';
import P from '../components/TextComponents/P.astro';
import TextContainer from '../layouts/TextContainer.astro';
import H2 from '../components/TextComponents/H2.astro';
---

<Layout title="Avaluos ags | Avaluos Aguascalientes | Peritos Valuadores en Aguascalientes">
	<main>
		<Navbar 
			logoPath='/assets/icons/logo.svg'
			logoAlt='Avaluos Ags - Logo'
			buttonHref='tel:4495868000'
			leftButtonIconPath='/assets/icons/phone-blue.svg'
			buttonText='4495868000'
		/>
		
		<Hero 
		title='Empresa Avalúos Ags Líder en avaluos en aguascalientes desde 2009'
		description='Somos un grupo de expertos peritos valuadores en Aguascalientes, especializados en avalúos de casas, bienes inmuebles y proyectos para INFONAVIT.'
		linkButton='tel:4495868000'
		buttonText='Agendar una cita ahora'
		iconRight='/assets/icons/right-arrow-white.svg'
		linkButton2='tel:4495868000'
		buttonText2='Hablar con un ejecutivo'
		iconRight2='/assets/icons/right-arrow-blue.svg'
		heroImagePath='/assets/imgs/hero.jpg'	
		heroImageAlt='Avaluos Ags - Hero Image'
		/>

		<TextContainer className='bg-primary_bg'>			
			<div class="md:px-72 lg:px-20 flex flex-col gap-y-8">
				<H2 className='capitalize'>Contamos con Más De 4000 Avaluos en aguascalientes que  nos Respaldan</H2>

				<div class="flex flex-col gap-y-4">
					<P>Somos peritos valuadores en Aguascalientes, especializados en avalúos de casas, bienes inmuebles, terrenos y proyectos para Infonavit. Contamos con un equipo experto en valuación en Aguascalientes, consultoría inmobiliaria, análisis de riesgos y servicios relacionados con el mercado inmobiliario.</P>  
					<P>Con miles de clientes satisfechos, somos la opción líder en avalúos en Aguascalientes, ideales para quienes necesitan determinar el valor de una propiedad para compra, venta, hipotecas o inversiones. Garantizamos confianza, precisión y resultados respaldados por nuestra experiencia.</P>  
					<P>Ofrecemos soluciones personalizadas para particulares, empresas y desarrolladores, atendiendo las necesidades de valuadores de casas en Aguascalientes y proyectos comerciales. Nos especializamos en cumplir los estándares más exigentes en avalúos ags inmobiliarios.</P>  
					<P>Si buscas peritos valuadores en Aguascalientes que combine conocimiento en avaluos, ética profesional y servicio de excelencia, somos tu mejor opción. Con nosotros, cada avalúo de casas es una herramienta confiable para tomar decisiones inteligentes.</P>  
				</div>
			</div>
		</TextContainer>
		
		<TextContainer className='bg-white'>
			<div class="md:px-72 lg:px-20 flex flex-col gap-y-8">
				<H2 className='capitalize'>Servicios de avaluos ags que ofrecemos hecho por peritos valuadores en aguascalientes</H2>

				<div class="flex flex-col gap-y-4">
					<P>Ofrecemos avalúos en Aguascalientes para determinar el valor real de casas, terrenos y propiedades comerciales, con un enfoque en precisión y confiabilidad.</P>
					<P>Nuestros peritos valuadores en Aguascalientes están capacitados para atender proyectos Infonavit, análisis de mercado y evaluación de riesgos, adaptándose a cada cliente.</P>
					<P>Con una trayectoria respaldada por cientos de avalúos, brindamos soluciones efectivas para quienes buscan vender, comprar o financiar bienes inmuebles en Aguascalientes.</P>
					<P>Confía en nuestros servicios de valuación en Aguascalientes, diseñados para garantizar decisiones informadas y resultados de alto impacto.</P>
				</div>	
			</div>
		</TextContainer>

		<div class="flex flex-col pb-5 xl:pb-40 gap-y-4 xl:gap-y-0 xl:px-20 xl:flex-row xl:gap-x-6 items-start">
			<Card
				title="Avalúo INFONAVIT"
				description="¿Necesitas un avalúo para tu crédito INFONAVIT? Garantizamos un proceso ágil y profesional para que avances con confianza en la compra de tu hogar."
				imageSrc="/assets/imgs/avaluos_infonavit.png"
				imageAlt="Avaluos Ags - Avaluo INFONAVIT Image"
				imageWidth="w-auto"
				buttonHref="tel:4495868000"
				buttonText="Agenda tu avalúo ahora"
				buttonIcon="/assets/icons/right-arrow-white.svg"
			/>

			<Card
				title="Avalúo Municipal Ags"
				description="Especialistas en avalúos municipales en Aguascalientes. Asegúrate de cumplir con todas las regulaciones con un servicio rápido y confiable."
				imageSrc="/assets/imgs/avaluos_aguascalientes.png"
				imageAlt="Avaluos Ags - Avaluo Municipal Ags Image"
				imageWidth="w-32 xl:w-36"
				buttonHref="tel:4495868000"
				buttonText="Programa tu avalúo ahora"
				buttonIcon="/assets/icons/right-arrow-white.svg"
			/>

			<Card
				title="Estimación de Valor - Conoce el Precio Real de tu Propiedad"
				description="¿Vendes o compras una propiedad? Nuestra estimación precisa de valor te asegura obtener el mejor precio en el mercado."
				imageSrc="/assets/imgs/estimacion_de_valor.png"
				imageAlt="Estimacion de valores de casa - Avaluos perito valuadores Image"
				imageWidth="w-32 xl:w-36"
				buttonHref="tel:4495868000"
				buttonText="Hablar con un ejecutivo"
				buttonIcon="/assets/icons/right-arrow-white.svg"
			/>

		</div>
		
		<CallToAction
		 	title='¿Necesitas un Avalúo en Aguascalientes?'
			subtitle='Somos peritos valuadores en Aguascalientes, especializados en avalúos en aguascalientes de casas, terrenos y proyectos donde se requiere un perito valuador'
			buttonHref='tel:4495868000'
			buttonText='Llama ahora: 4495868000'
			buttonPhone='4495868000'
			buttonIcon='/assets/icons/right-arrow-white.svg'						
		/>
		
		<Footer
			phone="4495868000",
			hours="Lunes a Viernes de 9:00 a 18:00 - Sabados de 9:00 a 14:00",
			address="Beethoven 504C, Col del Trabajo, 20180 Aguascalientes, Ags.",
			logoSrc="/assets/icons/logo.svg",
			logoAlt="Avaluos Ags - Logo",
			description="Avaluos en aguascalientes – Avaluos AGS ® | Desde 2009."
		/>
	</main>
</Layout>
