---
interface Props {
	title: string;
}

// Accede a las props de Astro directamente
const props: Props = Astro.props;
const { title } = props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<!-- Google Tag Manager -->
		<script>
			(function(w, d, s, l, i) {
				w[l] = w[l] || [];
				w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' });
				var f = d.getElementsByTagName(s)[0];
				// Especifica el tipo como HTMLScriptElement
				var j = d.createElement(s) as HTMLScriptElement;
				var dl = l != 'dataLayer' ? '&l=' + l : '';
				j.async = true; // TypeScript ya no marcará error
				j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
				f.parentNode!.insertBefore(j, f);
			})(window, document, 'script', 'dataLayer', 'GTM-PPKBSB9B');
		</script>
		<!-- End Google Tag Manager -->
	</head>

	<body>
		<!-- Google Tag Manager (noscript) -->
		<noscript>
			<iframe 
				src="https://www.googletagmanager.com/ns.html?id=GTM-PPKBSB9B" 
				height="0" 
				width="0" 
				style="display:none;visibility:hidden">
			</iframe>
		</noscript>
		<!-- End Google Tag Manager (noscript) -->

		<slot />

		<!-- Schema Local Business -->
		<script type="application/ld+json">
			{
				"@context": "https://schema.org",
				"@type": "LocalBusiness",
				"name": "Avaluos AGS",
				"image": "https://avaluosags.com/assets/icons/logo.svg",
				"@id": "https://avaluosags.com/",
				"url": "https://avaluosags.com/",
				"telephone": "+524495868000",
				"address": {
					"@type": "PostalAddress",
					"streetAddress": "Beethoven 504C, Col del Trabajo",
					"addressLocality": "Aguascalientes",
					"postalCode": "20180",
					"addressCountry": "MX"
				},
				"geo": {
					"@type": "GeoCoordinates",
					"latitude": 21.8881441838723358,
					"longitude": -102.27423898394595
				},
				"openingHoursSpecification": [
					{
						"@type": "OpeningHoursSpecification",
						"dayOfWeek": [
							"Monday",
							"Tuesday",
							"Wednesday",
							"Thursday",
							"Friday"
						],
						"opens": "9:00",
						"closes": "18:00"
					},
					{
						"@type": "OpeningHoursSpecification",
						"dayOfWeek": [
							"Saturday"
						],
						"opens": "9:00",
						"closes": "14:00"
					}
				],
				"priceRange": "$$"			
			}
		</script>			
	</body>
</html>
